MyAnimeList Dataset: https://www.kaggle.com/azathoth42/myanimelist

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATA_PATH = './drive/MyDrive/Data/anime33/'

In [ ]:
import pandas as pd
import numpy as np

anime_df = pd.read_csv('{}{}'.format(DATA_PATH, 'AnimeList.csv'))
anime_df.head()

   anime_id  ...                                       ending_theme
0     11013  ...  ['#1: "Nirvana" by MUCC (eps 1, 11-12)', '#2: ...
1      2104  ...  ['#1: "Ashita e no Hikari (明日への光)" by Asuka Hi...
2      5262  ...  ['#1: "Rottara Rottara (ロッタラ ロッタラ)" by Buono! ...
3       721  ...  ['"Watashi No Ai Wa Chiisaikeredo" by Ritsuko ...
4     12365  ...  ['#1: "Pride on Everyday" by Sphere (eps 1-13)...

[5 rows x 31 columns]

In [ ]:
print("anime_df: ", anime_df.shape)

anime_df:  (14478, 31)

In [ ]:
anime_df.columns

Index(['anime_id', 'title', 'title_english', 'title_japanese',
       'title_synonyms', 'image_url', 'type', 'source', 'episodes', 'status',
       'airing', 'aired_string', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'background',
       'premiered', 'broadcast', 'related', 'producer', 'licensor', 'studio',
       'genre', 'opening_theme', 'ending_theme'],
      dtype='object')

# Basic Cosine Similarity
Results: Horrible

**features that we want to consider:**
type, episodes, rating, score, scored_by, rank, popularity, favorites, producer, studio, genre

**features to potentially consider:**
related (i.e. sequels), opening_theme, ending_theme

In [ ]:
anime_df.isnull().sum() # columns with null values

anime_id              0
title                 0
title_english      8754
title_japanese       35
title_synonyms     5541
image_url            96
type                  0
source                0
episodes              0
status                0
airing                0
aired_string          0
aired                 0
duration              0
rating                0
score                 0
scored_by             0
rank               1574
popularity            0
members               0
favorites             0
background        13421
premiered         10382
broadcast         10207
related               0
producer           6190
licensor          11105
studio             5934
genre                64
opening_theme         0
ending_theme          0
dtype: int64

In [ ]:
# cols = ['anime_id', "type", "episodes", "rating", "score", "scored_by", "rank", "popularity", "favorites", "producer", "studio", "genre"]
cols = ['anime_id', "type", "episodes", "rating", "score", "scored_by", "rank", "popularity", "favorites", "genre"]
anime = anime_df[cols]

In [ ]:
anime.shape

(14478, 10)

In [ ]:
anime.head()

   anime_id type  ...  favorites                                     genre
0     11013   TV  ...       2809    Comedy, Supernatural, Romance, Shounen
1      2104   TV  ...       2579  Comedy, Parody, Romance, School, Shounen
2      5262   TV  ...        802             Comedy, Magic, School, Shoujo
3       721   TV  ...       3344    Comedy, Drama, Magic, Romance, Fantasy
4     12365   TV  ...       2082           Comedy, Drama, Romance, Shounen

[5 rows x 10 columns]

In [ ]:
anime.isnull().sum()

anime_id         0
type             0
episodes         0
rating           0
score            0
scored_by        0
rank          1574
popularity       0
favorites        0
genre           64
dtype: int64

In [ ]:
anime = anime.dropna(axis=0) # drow null rows

In [ ]:
anime.isnull().sum()

anime_id      0
type          0
episodes      0
rating        0
score         0
scored_by     0
rank          0
popularity    0
favorites     0
genre         0
dtype: int64

In [ ]:
anime.shape

(12848, 10)

In [ ]:
anime.head()

   anime_id type  ...  favorites                                     genre
0     11013   TV  ...       2809    Comedy, Supernatural, Romance, Shounen
1      2104   TV  ...       2579  Comedy, Parody, Romance, School, Shounen
2      5262   TV  ...        802             Comedy, Magic, School, Shoujo
3       721   TV  ...       3344    Comedy, Drama, Magic, Romance, Fantasy
4     12365   TV  ...       2082           Comedy, Drama, Romance, Shounen

[5 rows x 10 columns]

In [ ]:
anime['type'].unique()

array(['TV', 'Music', 'OVA', 'ONA', 'Special', 'Movie'], dtype=object)

In [ ]:
anime['rating'].unique()

array(['PG-13 - Teens 13 or older', 'PG - Children', 'G - All Ages',
       'R+ - Mild Nudity', 'R - 17+ (violence & profanity)', 'None',
       'Rx - Hentai'], dtype=object)

In [ ]:
OHE_type = anime['type'].str.get_dummies() # one hot encoding
OHE_genre = anime['genre'].str.get_dummies(sep=',')
OHE_rating = anime['rating'].str.get_dummies()

anime.drop(['rating', 'type','genre'], axis=1, inplace=True)

# data = pd.concat([data, OHE_rating, OHE_type, OHE_genre], axis=1)
anime = pd.concat([anime, OHE_type, OHE_genre], axis=1)
anime.head()

   anime_id  episodes  score  ...  Supernatural  Thriller  Vampire
0     11013        12   7.63  ...             0         0        0
1      2104        26   7.89  ...             0         0        0
2      5262        51   7.55  ...             0         0        0
3       721        38   8.21  ...             0         0        0
4     12365        25   8.67  ...             0         0        0

[5 rows x 91 columns]

In [ ]:
anime_features = anime.iloc[:, 7:].copy()
anime_features.head()

   Movie  Music  ONA  OVA  ...  Super Power  Supernatural  Thriller  Vampire
0      0      0    0    0  ...            0             0         0        0
1      0      0    0    0  ...            0             0         0        0
2      0      0    0    0  ...            0             0         0        0
3      0      0    0    0  ...            0             0         0        0
4      0      0    0    0  ...            0             0         0        0

[5 rows x 84 columns]

In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_sim = cosine_similarity(anime_features.values, anime_features.values)
cosine_sim

array([[1.        , 0.73029674, 0.4       , ..., 0.31622777, 0.        ,
        0.31622777],
       [0.73029674, 1.        , 0.54772256, ..., 0.28867513, 0.        ,
        0.28867513],
       [0.4       , 0.54772256, 1.        , ..., 0.31622777, 0.        ,
        0.31622777],
       ...,
       [0.31622777, 0.28867513, 0.31622777, ..., 1.        , 0.40824829,
        0.5       ],
       [0.        , 0.        , 0.        , ..., 0.40824829, 1.        ,
        0.        ],
       [0.31622777, 0.28867513, 0.31622777, ..., 0.5       , 0.        ,
        1.        ]])

In [ ]:
anime_index = pd.Series(anime_df.index, index=anime_df.title).drop_duplicates()
anime_index

title
Inu x Boku SS                                0
Seto no Hanayome                             1
Shugo Chara!! Doki                           2
Princess Tutu                                3
Bakuman. 3rd Season                          4
                                         ...
Gutchonpa Omoshiro Hanashi               14473
Geba Geba Shou Time!                     14474
Godzilla: Hoshi wo Kuu Mono              14475
Nippon Mukashibanashi: Sannen Netarou    14476
Senjou no Valkyria Special               14477
Length: 14478, dtype: int64

In [ ]:
def get_recommendation(anime_name, similarity=cosine_sim):
    idx = anime_index[anime_name]
    
    # Get the pairwsie similarity scores of all anime with that anime
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the anime based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar anime
    sim_scores = sim_scores[0:25]

    # Get the anime indices
    anime_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar anime
    result = anime_df[['anime_id', 'title', 'genre']].iloc[anime_indices].drop(idx)
    return result

In [ ]:
get_recommendation("Ookami to Koushinryou")

       anime_id  ...                                       genre
415        7435  ...  Adventure, Demons, Magic, Fantasy, Shounen
1850      33138  ...                                      Hentai
2718       5020  ...                 Action, Ecchi, Martial Arts
2748      30427  ...                                       Music
3142       3526  ...           Adventure, Fantasy, Magic, Hentai
3448        213  ...                     Comedy, Romance, Hentai
4750      36423  ...                       Action, Kids, Shounen
4955       6583  ...  Adventure, Fantasy, Comedy, Demons, Sci-Fi
5259      26133  ...                   Fantasy, Historical, Kids
5295      20233  ...                              Comedy, Sci-Fi
5815      37448  ...                      Action, Comedy, Sci-Fi
5976       9581  ...                       Comedy, Ecchi, School
6157       9013  ...                       Comedy, Slice of Life
6370      13821  ...            Adventure, Comedy, Slice of Life
9049      30290  ...                Mystery, Comedy, Super Power
9753      36198  ...                      Romance, Ecchi, School
11040     30334  ...                                    Dementia
12019     31044  ...         Slice of Life, Kids, Magic, Fantasy
3817       4599  ...                               Kids, Fantasy
7335      35784  ...                                 Music, Kids
111       12569  ...                       Magic, School, Shoujo
167         534  ...   Adventure, Comedy, Demons, Magic, Fantasy
203       32484  ...                                      Hentai
207       36289  ...                                       Music

[24 rows x 3 columns]

# KNN & Alternating Least Squares (ALS)

## Create AnimeList Cleaned List
Create username ids and filter out NaNs

In [ ]:
user_colnames = ['username', 'anime_id', 'my_score']
user_df = pd.read_csv('{}{}'.format(DATA_PATH, 'animelists_cleaned.csv'), usecols=user_colnames)

In [ ]:
print("user_df: ", user_df.shape)
user_df.head()

user_df:  (31284030, 3)

   username  anime_id  my_score
0  karthiga        21         9
1  karthiga        59         7
2  karthiga        74         7
3  karthiga       120         7
4  karthiga       178         7

In [ ]:
anime = anime_df[['anime_id', 'title']]
anime.head()

   anime_id                title
0     11013        Inu x Boku SS
1      2104     Seto no Hanayome
2      5262   Shugo Chara!! Doki
3       721        Princess Tutu
4     12365  Bakuman. 3rd Season

In [ ]:
anime.shape

(14478, 2)

In [ ]:
print(user_df.isnull().sum())
print('shape before drop:', user_df.shape)

user_df = user_df.dropna(axis=0)

print(user_df.isnull().sum())
print('shape after drop:', user_df.shape)

username    243
anime_id      0
my_score      0
dtype: int64
shape before drop: (31284030, 3)
username    0
anime_id    0
my_score    0
dtype: int64
shape after drop: (31283787, 3)

In [ ]:
# s = pd.Series(['a', 'a','b','c', 'a'])
# labels, levels = pd.factorize(s)
# labels

user_df['username'] = user_df['username'].factorize()[0]
user_df.rename(columns= {'username': 'uid'}, inplace=True)
user_df.head()

   uid  anime_id  my_score
0    0        21         9
1    0        59         7
2    0        74         7
3    0       120         7
4    0       178         7

In [ ]:
user_df.to_csv('{}{}'.format(DATA_PATH, 'users_cleaned.csv'), index=False, header=True)

## Creating Anime-User Matrix

In [ ]:
user_df = pd.read_csv('{}{}'.format(DATA_PATH, 'users_cleaned.csv'))
user_df['my_score'] += 1
user_df.shape

(31283787, 3)

Finding the largest uid from the user_df that we can slice

In [ ]:
# user_df.iloc[25379534, :]

# id = user_df.iloc[20000000, 0]
# for i in range(20000000, 21000000):
#   if id == user_df.iloc[i, 0]:
#     print("@ idx: ", i)
#     id += 1

In [ ]:
user_df.iloc[25379530:25379534, :]

            uid  anime_id  my_score
25379532  71737     32502         1
25379533  71737     32511        11

Slice the dataset (avoid mem errors)

In [ ]:
user_df = user_df.iloc[:25379534, :]
user_df.shape

(25379534, 3)

In [ ]:
print("Number of unique users: ", len(user_df['uid'].unique()))
print("Number of anime rated by users: ", len(user_df['anime_id'].unique()))

Number of unique users:  71738
Number of anime rated by users:  6668

In [ ]:
from scipy.sparse import csr_matrix

anime_user_mat = user_df.pivot(
    index='anime_id',
    columns='uid',
    values='my_score'
).fillna(0)

anime_user_sparse = csr_matrix(anime_user_mat.values)
anime_user_mat

uid       0      1      2      3      4      ...  71733  71734  71735  71736  71737
anime_id                                     ...
1           0.0   11.0   11.0    9.0   10.0  ...    0.0    0.0    0.0    1.0    0.0
5           0.0   11.0    0.0    8.0    9.0  ...    0.0    0.0    0.0    0.0    0.0
6           0.0   10.0   10.0    8.0   10.0  ...    0.0    0.0    0.0    1.0    0.0
7           0.0    8.0    0.0    1.0    6.0  ...    0.0    0.0    0.0    0.0    0.0
8           0.0    0.0    0.0    1.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
...         ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
37886       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
37888       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
37894       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
37895       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
37896       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[6668 rows x 71738 columns]

In [ ]:
anime_user_mat.iloc[0, 21] # (uid, anime_id)

11.0

In [ ]:
# appended_data = []

# for chunk in user_df:
#   pivot_table = chunk.pivot_table(
#       index='anime_id',
#       columns='uid',
#       values='my_score',
#       fill_value=0)
#   appended_data.append(pivot_table)
# appended_data = pd.concat(appended_data, axis=0).reset_index()